{% extends "base.html" %}
{% block title %}Astronaut JS{% endblock %}
{% block content %}

<header role="banner">
  <div class="container">
    <figure>
      <img src="{% static '/images/logo.svg' %}">
    </figure>
    <h1>Astronaut<span>.js</span></h1>
    <p>The chronicles of a marauding astronaut looking for purpose.</p>
    <span class="code">
      <code>$npm install astronautjs</code>
    </span>
  </div>
  <canvas id="holyshtballs"></canvas>
</header>

<section role="main">

  <div class="container">
    <div class="row">
      <div class="col col-3">
        <h2>Built for speed</h2>
        <p>
          I believe every human has a finite number of heartbeats. I don't intend to waste any of mine. Not a single one I tell you.
        </p>
      </div>
      <div class="col col-3">
        <h2>Made to change</h2>
        <p>
          To be the first to enter the cosmos, to engage, single-handed, in an unprecedented duel with nature—could one dream of anything more?
        </p>
      </div>
      <div class="col col-3">
        <h2>Test all the things</h2>
        <p>
          We want to explore. We’re curious people. Look back over history, people have put their lives at stake to go out and explore...
        </p>
      </div>
    </div>
  </div>

</section>

<footer role="contentinfo" class="container center">
  <hr />
  <p>Built by <a href="" target="_blank">John van de Water</a></p>
  <p>Partners in crime <a href="" target="_blank">Tiemen Waterreus</a> and <a href="" target="_blank">Awkward</a></p>
  <p class="copyright">&copy; 2014 Astronautjs.com</p>
</footer>

{% endblock content%}
